.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'misans';
  background-color: #f7e4f4;
}

.video-container >iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
iframe{
  width: 100vw;
  height: calc(100vw/500);
 }
  .text-container {
    position: absolute;
    top: 20%;
    width: 50vw;
    left: 5%;
    background-color: transparent !important;
    backdrop-filter: blur(8px);
    /* transform: translate(-50%, -50%); */
    color: white; /* Adjust text color for better visibility */
  }
  .overlaytext{
    color: #fff
  }
@media only screen and (max-width: 900px) {
  .text-container {
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: transparent !important;
    width: 98%;
    backdrop-filter: blur(15px);
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  .overlaytext{
    color: #ffffff
  }
}
.ytp-title-link{
  display: none !important;
}
#blockwhenland {
  display: none !important;
}
@media only screen and (max-width: 800px) and (orientation: landscape) {
  #blockwhenland {
    display:grid !important;
    position: fixed;
    z-index: 8000;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background-color: #fddcfe
  }
}

@media only screen and (orientation: portrait) {
  .vdo{
    display: none !important;
  }
  .img{
    display: block !important;
  }
}

.bg-m{
  background-color: #f27ce2 !important;
}
