/* body {
  font-family: 'misans';
} */
body {
  font-family: 'Noto Sans Thai' !important;
}
.webheadfont {
  /* font-family: "Twinkle Star" !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
